<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.jraf.android.latoureiffel"
    android:sharedUserId="org.jraf.android"
    android:versionName="${versionName}" >

    <!-- android:sharedUserId="org.jraf.android" -->

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Needed for AdMobs and Analytics -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="org.jraf.android.worldtour.app.Application"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme" >

        <!-- Provider -->
        <provider
            android:name="org.jraf.android.worldtour.provider.WorldtourProvider"
            android:authorities="org.jraf.android.worldtour.provider"
            android:exported="false" />

        <!-- Service -->
        <service android:name="org.jraf.android.worldtour.app.service.WorldTourService" />

        <!-- Boot receiver -->
        <receiver android:name="org.jraf.android.worldtour.app.receiver.BootCompletedBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Wallpaper changed receiver -->
        <receiver android:name="org.jraf.android.worldtour.app.receiver.WallpaperChangedBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.WALLPAPER_CHANGED" />
            </intent-filter>
        </receiver>

        <!-- Webcam widget (2x2) -->
        <receiver
            android:name="org.jraf.android.worldtour.app.appwidget.webcam.WebcamAppWidgetProvider"
            android:label="@string/appwidget_webcam_label" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_webcam" />
        </receiver>

        <!-- Webcam widget (3x3) -->
        <receiver
            android:name="org.jraf.android.worldtour.app.appwidget.webcam.WebcamAppWidgetProvider3x3"
            android:enabled="@bool/appwidget_webcam_3x3_enabled"
            android:label="@string/appwidget_webcam_label_3x3" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_webcam_3x3" />
        </receiver>

        <!-- Refresh widget -->
        <receiver
            android:name="org.jraf.android.worldtour.app.appwidget.refresh.RefreshAppWidgetProvider"
            android:label="@string/appwidget_refresh_label" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.jraf.android.worldtour.app.service.WorldTourService.ACTION_UPDATE_START" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.jraf.android.worldtour.app.service.WorldTourService.ACTION_UPDATE_END" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_refresh" />
        </receiver>

        <!-- Main -->
        <activity
            android:name="org.jraf.android.worldtour.app.main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Pick webcam -->
        <activity
            android:name="org.jraf.android.worldtour.app.pickwebcam.PickWebcamActivity"
            android:label="@string/menu_pick" />

        <!-- Add user webcam -->
        <activity
            android:name="org.jraf.android.worldtour.app.adduserwebcam.AddUserWebcamActivity"
            android:windowSoftInputMode="stateVisible" />

        <!-- Settings -->
        <activity
            android:name="org.jraf.android.worldtour.app.preference.PreferenceActivity"
            android:label="@string/menu_settings" />

        <!-- About -->
        <activity
            android:name="org.jraf.android.worldtour.app.about.AboutActivity"
            android:label="@string/menu_about" />

        <!-- Eula -->
        <activity
            android:name="org.jraf.android.worldtour.app.about.EulaActivity"
            android:label="@string/eula_title" />

        <!-- Welcome -->
        <activity
            android:name="org.jraf.android.worldtour.app.welcome.WelcomeActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Welcome" />

        <!-- AdMob -->
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <!-- Webcam App Widget Configure -->
        <activity
            android:name="org.jraf.android.worldtour.app.appwidget.webcam.WebcamConfigureActivity"
            android:excludeFromRecents="true"
            android:taskAffinity=":WebcamConfigureActivity"
            tools:ignore="ExportedActivity" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- Webcam App Widget Configure -->
        <activity
            android:name="org.jraf.android.worldtour.app.appwidget.webcam.WebcamAppWidgetActionsActivity"
            android:excludeFromRecents="true"
            android:taskAffinity=":WebcamAppWidgetActionsActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>